<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>电信</title>
    <link type="text/css" rel="stylesheet" media="all" href="../styles/global.css" />
    <link type="text/css" rel="stylesheet" media="all" href="../styles/global_color.css" />
    <link type="text/css" rel="stylesheet" href="../../static/layui/css/layui.css" media="all" />
    <link type="text/css" rel="stylesheet"href="../styles/index.css">
    <script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../static/layui/layui.js"></script>
</head>
<body onload="initialYearAndMonth();">
<!--Logo区域开始-->
<div id="header">
    <img src="../../static/images/logo.png" alt="logo" class="left"/>
    <a href="#">[退出]</a>
</div>
<!--Logo区域结束-->
<div id="header">
    <img src="../../static/images/logo.png" alt="logo" class="left"/>
    <a href="#">[退出]</a>
</div>
<!--导航区域开始-->
<menu>
    <label for="trigger">
        <input id="trigger" type="checkbox" />
        <section class="drawer-list">
            <ul>
                <li><a href="../testindex.html">主页</a></li>
                <li><a href="../role/role_list.html">角色管理</a></li>
                <li><a href="../admin/admin_list.html">管理员</a></li>
                <li><a href="../fee/fee_list.html">资费管理</a></li>
                <li><a href="../account/account_list.html">账务账号</a></li>
                <li><a href="../service/service_list.html">业务账号</a></li>
                <li><a href="../bill/bill_list.html">账单管理</a></li>
                <li><a href="../report/report_list.html">报表</a></li>
                <li><a href="../user/user_info.html">个人信息</a></li>
                <li><a href="../user/user_modi_pwd.html">修改密码</a></li>

            </ul>
        </section>
        <hamburger>
            <i></i>
            <text>
                <close>close</close>
                <open>菜单</open>
            </text>
        </hamburger>
    </label>
</menu>
<!--导航区域结束-->
<!--主要区域开始-->
<div id="main">
    <form action="" method="">
        <!--查询-->
        <div class="search_add">
            <div>账务账号：<span class="readonly width70">admin1</span></div>
            <div>OS 账号：<span class="readonly width100">openlab1</span></div>
            <div>服务器 IP：<span class="readonly width100">192.168.0.20</span></div>
            <div>计费时间：<span class="readonly width70">2013年8月</span></div>
            <div>费用：<span class="readonly width70">34.78</span></div>
            <input type="button" value="返回" class="btn_add" onclick="location.href='bill_item.html';" />
        </div>
        <!--数据区域：用表格展示数据-->
        <div id="data">
            <table id="datalist">

            </table>
        </div>
        <!--分页-->
        <div id="pages">
            <a href="#">上一页</a>
            <a href="#" class="current_page">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">下一页</a>
        </div>
    </form>
</div>
<!--主要区域结束-->
<div id="footer">
    <span>[源自全宇宙最帅组的技术，最优秀的小哥哥，最真实的企业环境，最适用的实战项目]</span>
    <br />
    <span>版权所有(C)全宇宙最帅组集团公司 </span>
</div>
</body>
<script>
    layui.use('table', function() {
        var table = layui.table;

        table.render({
            elem: '#datalist'
            , width: 900
            , height: 400
            , url: '/accountmag/main'
            , page: true //开启分页
            , limit: 10
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                , {field: 'accountName', title: '账务账号', width: 160, sort: true}
                , {field: 'username', title: '服务器id', width: 160, sort: true, templet: '#birthday'}
                , {field: 'createTime', title: '使用时长', width: 80, sort: true, templet: '#createTime'}
                , {field: 'idCard', title: '备注', width: 160, sort: true, templet: '#updateTime'}
                , {field: 'money', title: '日期', width: 120, sort: true,tmplet:'#money'}
                , {fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo'}


            ]]
        })

        table.on('tool(demo)', function(obj) {
            var data = obj.data;
            if (obj.event === 'show1') {
                layer.confirm('真的删除行么', function(index){
                    window.location.href=""+Json.stringify(data.id)
                })

            }
        })


        var $ = layui.$, active = {
            reload: function(){
                var reload1 = $('#billReload');
                var reload2=$('#idReload');
                var reload3=$('#nameReload');
                var reload4=$('#selYears').text;
                var reload5=$('#selMonths').text;
                table.reload('datalist', {
                    where: {
                        billName:reload1.val(),
                        idcard:reload2.val(),
                        username:reload3.val(),
                        year:reload4.val(),
                        month:reload5.val()
                    }
                });
            }
        };

    });
</script>
</html>
