<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>电信</title>
        <link type="text/css" rel="stylesheet" media="all" href="styles/global.css" />
        <link type="text/css" rel="stylesheet" media="all" href="styles/global_color.css" />

        <link rel="stylesheet" type="text/css"href="styles/index1.css"/>
        <script src="static/js/index.js"></script>
    </head>
    <body>
    <!--<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">-->
    <nav>
        <menu>
            <menuitem id="demo1">
                <a>菜单</a>
                <menu>
                    <menuitem><a href="index.html">主页</a></menuitem>
                    <menuitem>
                        <a href="role/role_list.html">用户管理</a>
                        <menu>
                            <menuitem><a href="account/account_list.html">账务账号管理</a></menuitem>
                            <menuitem><a href="service/service_list.html">业务账号管理</a></menuitem>
                        </menu>
                    </menuitem>
                    <menuitem><a href="report/report_list.html">报表查询</a></menuitem>
                    <menuitem id="demo2">
                        <a>前台日志</a>
                        <menu>
                            <menuitem id="demo3">
                                <a href="login/login_rizi.html">登录日志</a>
                              <!--  <menu>
                                    <menuitem><a>deep 1</a></menuitem>
                                    <menuitem><a>deep 2</a></menuitem>
                                    <menuitem><a>deep 3</a></menuitem>
                                </menu>-->
                            </menuitem>
                            <menuitem><a href="login/login_caozuo.html">操作日志</a></menuitem>
                        </menu>
                    </menuitem>
                    <menuitem>
                        <a>权限管理</a>
                        <menu>
                            <menuitem><a href="role/role_list.html">角色管理</a></menuitem>
                            <menuitem><a href="role/role_modi.html">权限管理</a></menuitem>
                        </menu>
                    </menuitem>
                    <menuitem><a href="account/account_list.html">账务查询</a></menuitem>
                    <menuitem><a href="bill/bill_list.html">账单查询</a></menuitem>
                    <menuitem><a href="fee/fee_list.html">资费查询</a></menuitem>
                    <menuitem><a href="admin/admin_list.html">管理员管理</a></menuitem>
                    <menuitem><a href="user/user_info.html">个人信息</a></menuitem>
                    <menuitem><a href="user/user_modi_pwd.html">修改密码</a></menuitem>


                </menu>
            </menuitem>


         <!--   <menuitem><a>no drop</a></menuitem>-->
        </menu>
    </nav>


    </body>
</html>
