<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>电信</title>
        <link type="text/css" rel="stylesheet" media="all" href="../styles/global.css" />
        <link type="text/css" rel="stylesheet" media="all" href="../styles/global_color.css" />
        <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
        <link type="text/css" rel="stylesheet"href="../styles/index1.css">
        <script src="../../static/layui/layui.js"></script>
        <script src="../../static/js/index.js"></script>
        <script language="javascript" type="text/javascript">
            //保存成功的提示信息
            function showResult() {
                showResultDiv(true);
                window.setTimeout("showResultDiv(false);", 3000);
            }
            function showResultDiv(flag) {
                var divResult = document.getElementById("save_result_info");
                if (flag)
                    divResult.style.display = "block";
                else
                    divResult.style.display = "none";
            }
        </script>
    </head>
    <body>
    <nav>
        <menu>
            <menuitem id="demo1">
                <a>菜单</a>
                <menu>
                    <menuitem><a href="../index.html">主页</a></menuitem>
                    <menuitem>
                        <a href="../role/role_list.html">用户管理</a>
                        <menu>
                            <menuitem><a href="../account/account_list.html">账务账号管理</a></menuitem>
                            <menuitem><a href="../service/service_list.html">业务账号管理</a></menuitem>
                        </menu>
                    </menuitem>
                    <menuitem><a href="../report/report_list.html">报表查询</a></menuitem>
                    <menuitem id="demo2">
                        <a>前台日志</a>
                        <menu>
                            <menuitem id="demo3">
                                <a href="../admin/admin_list.html">登录日志</a>
                                <!--  <menu>
                                      <menuitem><a>deep 1</a></menuitem>
                                      <menuitem><a>deep 2</a></menuitem>
                                      <menuitem><a>deep 3</a></menuitem>
                                  </menu>-->
                            </menuitem>
                            <menuitem><a href="../admin/admin_list.html">操作日志</a></menuitem>
                        </menu>
                    </menuitem>
                    <menuitem>
                        <a>权限管理</a>
                        <menu>
                            <menuitem><a href="../role/role_list.html">角色管理</a></menuitem>
                            <menuitem><a href="../role/role_modi.html">权限管理</a></menuitem>
                        </menu>
                    </menuitem>
                    <menuitem><a href="../account/account_list.html">账务查询</a></menuitem>
                    <menuitem><a href="../bill/bill_list.html">账单查询</a></menuitem>
                    <menuitem><a href="../fee/fee_list.html">资费查询</a></menuitem>
                    <menuitem><a href="../admin/admin_list.html">管理员管理</a></menuitem>
                    <menuitem><a href="../user/user_info.html">个人信息</a></menuitem>
                    <menuitem><a href="../user/user_modi_pwd.html">修改密码</a></menuitem>


                </menu>
            </menuitem>


            <!--   <menuitem><a>no drop</a></menuitem>-->
        </menu>
    </nav>


    <!--主要区域开始-->
        <div id="main">            
            <!--保存操作后的提示信息：成功或者失败-->
            <div id="save_result_info" class="save_success">保存成功！</div><!--保存失败，数据并发错误！-->
            <form action="" method="" class="main_form">
                <div class="text_info clearfix"><span>管理员账号：</span></div>
                <div class="input_info"><input type="text" readonly="readonly" class="readonly" value="admin1" /></div>
                <div class="text_info clearfix"><span>角色：</span></div>
                <div class="input_info">
                    <input type="text" readonly="readonly" class="readonly width400" value="账单管理员，业务账号" />
                </div>
                <div class="text_info clearfix"><span>姓名：</span></div>
                <div class="input_info">
                    <input type="text" value="张三" />
                    <span class="required">*</span>
                    <div class="validate_msg_long error_msg">20长度以内的汉字、字母的组合</div>
                </div>
                <div class="text_info clearfix"><span>电话：</span></div>
                <div class="input_info">
                    <input type="text" class="width200" value="13892345678" />
                    <div class="validate_msg_medium">电话号码格式：手机或固话</div>
                </div>
                <div class="text_info clearfix"><span>Email：</span></div>
                <div class="input_info">
                    <input type="text" class="width200" value="aa@aa.com" />
                    <div class="validate_msg_medium">50长度以内，符合 email 格式</div>
                </div>
                <div class="text_info clearfix"><span>创建时间：</span></div>
                <div class="input_info"><input type="text" readonly="readonly" class="readonly" value="2012/12/12 13:10:34"/></div>
                <div class="button_info clearfix">
                    <input type="button" value="保存" class="btn_save" onclick="showResult();" />
                    <input type="button" value="取消" class="btn_save" />
                </div>
            </form>  
        </div>
        <!--主要区域结束-->
        <div id="footer">
            <span>[源自全宇宙最帅组的技术，最优秀的小哥哥，最真实的企业环境，最适用的实战项目]</span>
            <br />
            <span>版权所有(C)全宇宙最帅组集团公司 </span>
        </div>
    </body>
    <script src="./static/layui/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        layui.use('element', function(){
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

            //监听导航点击
            element.on('nav(demo)', function(elem){
                //console.log(elem)
                layer.msg(elem.text());
            });
        });
    </script>
</html>
